* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.banner{
  width:25%;
  padding: 25px 10px 10px;
  text-align:center;
  float:left;
}

.overhidden{
  display:inline-block;
  position:relative;
  width:80%;
  overflow:hidden;
  border-radius:50%;
  border: 2px solid #5bc0de;
}
.banner div{

}
.banner a img{
  display:table-cell;
  vertical-align:middle;
  width: auto;
  height: auto;
  overflow: hidden;
}

.banner-img{

}

.banner h3{
  margin: 15px 0;
  text-align:center;
  font-weight: normal;
  font-size: 1.2em;
  color: #444;
}

.banner h3 a{
  text-align: center;
}

.banner div{
  color: #666;
  font-size: 14px;
  word-wrap: break-word;
  outline: none;
  line-height: 1.2;
  text-align: center;
  box-sizing: border-box;
}
.banner div p{
  line-height: 140%;
  word-wrap: break-word;

}

