.banner-widget {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.widget-title {
  margin-bottom: 15px;
}

.block {
  position: relative;
  background: #fff;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
}

.widget-title a {
  text-decoration: none;
}

.info img {
  width: 150px;
  height: 150px;
}

.textwidget {
  color: #666;
  font-size: 16px;
  padding: 0 10px;
}

.col-md-3 {
  width: 25%;
  float: left;
  position: relative;
  min-height: 1px;
/*  padding-left: 20px;
  padding-right: 20px;*/
}

@media (max-width: 800px) {
  .article-list {
    banner-list: 0 !important;
  }

  .ui.ribbon.label:after {
    display: none;
  }
}
